# ETL proyecto individual #1

* Elmer Daza Data-08

--------------------------------------

Importar las librerias a utilizar

In [1]:
import pandas as pd, numpy as np
import glob
from nltk.sentiment.vader import SentimentIntensityAnalyzer

Revisar los datasets a utilizar

* Amazon Prime

In [2]:
#cargar el dataset
data_amazon = pd.read_csv('datasets/amazon_prime_titles.csv')
# ver los primeros registros de los datos
data_amazon.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
5,s6,Movie,Living With Dinosaurs,Paul Weiland,"Gregory Chisholm, Juliet Stevenson, Brian Hens...",United Kingdom,"March 30, 2021",1989,NaN,52 min,"Fantasy, Kids",The story unfolds in a an English seaside town...
6,s7,Movie,Hired Gun,Fran Strine,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...",United States,"March 30, 2021",2017,NaN,98 min,"Documentary, Special Interest","They are the ""First Call, A-list"" musicians, j..."
7,s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski","Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",United States,"March 30, 2021",2016,NaN,131 min,Comedy,"This honest, uncompromising comedy chronicles ..."
8,s9,Movie,Global Meltdown,Daniel Gilboy,"Michael Paré, Leanne Khol Young, Patrick J. Ma...",Canada,"March 30, 2021",2017,NaN,87 min,"Action, Science Fiction, Suspense",A helicopter pilot and an environmental scient...
9,s10,Movie,David's Mother,Robert Allan Ackerman,"Kirstie Alley, Sam Waterston, Stockard Channing",United States,"April 1, 2021",1994,NaN,92 min,Drama,Sally Goodson is a devoted mother to her autis...

In [3]:
#descripcion de los datos
data_amazon.describe()

       release_year
count   9668.000000
mean    2008.341849
std       18.922482
min     1920.000000
25%     2007.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

In [4]:
#informacion del dataset
data_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 491.0+ KB

In [5]:
#cantidad de nulos en los datos
data_amazon.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

 * Disney +

In [4]:
#Cargar los datos
data_Disney = pd.read_csv('datasets/disney_plus_titles.csv')
#ver primeros registros
data_Disney.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
5,s6,Movie,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,"November 24, 2021",2021,PG-13,94 min,"Biographical, Documentary",An inside look at the legendary life of advent...
6,s7,TV Show,Hawkeye,NaN,"Jeremy Renner, Hailee Steinfeld, Vera Farmiga,...",NaN,"November 24, 2021",2021,TV-14,1 Season,"Action-Adventure, Superhero",Clint Barton/Hawkeye must team up with skilled...
7,s8,TV Show,Port Protection Alaska,NaN,"Gary Muehlberger, Mary Miller, Curly Leach, Sa...",United States,"November 24, 2021",2015,TV-14,2 Seasons,"Docuseries, Reality, Survival",Residents of Port Protection must combat volat...
8,s9,TV Show,Secrets of the Zoo: Tampa,NaN,"Dr. Ray Ball, Dr. Lauren Smith, Chris Massaro,...",United States,"November 24, 2021",2019,TV-PG,2 Seasons,"Animals & Nature, Docuseries, Family",A day in the life at ZooTampa is anything but ...
9,s10,Movie,A Muppets Christmas: Letters To Santa,Kirk R. Thatcher,"Steve Whitmire, Dave Goelz, Bill Barretta, Eri...",United States,"November 19, 2021",2008,G,45 min,"Comedy, Family, Musical",Celebrate the holiday season with all your fav...

In [7]:
# descripcion de los datos
data_Disney.describe()

       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000

In [8]:
#informacion del dataset
data_Disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 73.7+ KB

In [9]:
#catidad de nulos en los datos
data_Disney.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

 * Hulu

In [5]:
#cargar los datos
data_hulu = pd .read_csv('datasets/hulu_titles.csv')
#ver los primeros registros
data_hulu.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
5,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,"October 22, 2021",2021,NaN,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
6,s7,Movie,The Evil Next Door,NaN,NaN,NaN,"October 21, 2021",2020,NaN,88 min,"Horror, Thriller","New to her role as a stepmom, a young woman mo..."
7,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,"October 21, 2021",2021,NaN,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
8,s9,TV Show,Queens,NaN,NaN,NaN,"October 20, 2021",2021,TV-14,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
9,s10,TV Show,The Bachelorette,NaN,NaN,United States,"October 20, 2021",2003,TV-14,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...

In [11]:
# descrpcion de los datos
data_hulu.describe()

       cast  release_year
count   0.0   3073.000000
mean    NaN   2012.567524
std     NaN     10.844069
min     NaN   1923.000000
25%     NaN   2010.000000
50%     NaN   2016.000000
75%     NaN   2019.000000
max     NaN   2021.000000

In [12]:
#imformacion de los datos
data_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 168.1+ KB

In [13]:
#cantidad de nulos
data_hulu.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

 * Netflix

In [6]:
#carga de datos
data_netflix = pd.read_csv('datasets/netflix_titles.csv')
#ver primeros registros
data_netflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [15]:
#descripcion de los datos
data_netflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [16]:
#informacion del dataset
data_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 447.3+ KB

In [17]:
#cantidad de nulos
data_netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

# Transformar los datos
* Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

* Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

* De haber fechas, deberán tener el formato AAAA-mm-dd

* Los campos de texto deberán estar en minúsculas, sin excepciones

* El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

# Amazon

In [7]:
# crear columna ID
data_amazon['ID']='a'+data_amazon['show_id']
#reemplazar los valores nulos en rating
data_amazon['rating'] = data_amazon['rating'].replace(np.nan,'G')
#normalizar el formato de las fechas
data_amazon["date_added"] = pd.to_datetime(data_amazon["date_added"], format='%B %d, %Y')

#Colocar los datos strings en minusculas
# Obtener una lista de los campos de tipo string
campos_string = data_amazon.select_dtypes(include=['object']).columns.tolist()
for i in campos_string:
    #para cada campo remplazamos su contenido por minusculas
    data_amazon[i]=data_amazon[i].str.lower()

#Dividir la columna "duration" en duration_int y duration_type.
# 
#El primer grupo (\d+) busca coincidencias de uno o más dígitos (0-9) y las captura en el primer grupo.
#El segundo grupo \s*(\w+) busca 
# coincidencias de uno o más caracteres alfanuméricos y las captura en el segundo grupo, 
# permitiendo que haya cero o más espacios en blanco (\s*) entre el primer grupo y el segundo.
#  
data_amazon[['duration_int', 'duration_type']] = data_amazon['duration'].str.extract('(\d+)\s*(\w+)')

#Reemplazar "seasons" por "season":
data_amazon["duration_type"] = data_amazon["duration_type"].str.replace("seasons", "season")

In [19]:
#revisar el contenido de data_amazon
data_amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,movie,pride of the bowery,joseph h. lewis,"leo gorcey, bobby jordan",NaN,NaT,1940,7+,60 min,comedy,new york city street principles get an east si...,as9664,60,min
9664,s9665,tv show,planet patrol,NaN,"dick vosburgh, ronnie stevens, libby morris, m...",NaN,NaT,2018,13+,4 seasons,tv shows,"this is earth, 2100ad - and these are the adve...",as9665,4,season
9665,s9666,movie,outpost,steve barker,"ray stevenson, julian wadham, richard brake, m...",NaN,NaT,2008,r,90 min,action,"in war-torn eastern europe, a world-weary grou...",as9666,90,min
9666,s9667,tv show,maradona: blessed dream,NaN,"esteban recagno, ezequiel stremiz, luciano vit...",NaN,NaT,2021,tv-ma,1 season,"drama, sports","the series tells the story of diego maradona, ...",as9667,1,season
9667,s9668,movie,harry brown,daniel barber,"michael caine, emily mortimer, joseph gilgun, ...",NaN,NaT,2010,r,103 min,"action, drama, suspense","harry brown, starring two-time academy award w...",as9668,103,min

# Disney +

In [8]:
# crear columna ID
data_Disney['ID']='d'+data_Disney['show_id']
#reemplazar los valores nulos en rating
data_Disney['rating'] = data_Disney['rating'].replace(np.nan,'G')
#normalizar el formato de las fechas
data_Disney["date_added"] = pd.to_datetime(data_Disney["date_added"], format='%B %d, %Y')

#Colocar los datos strings en minusculas
# Obtener una lista de los campos de tipo string
campos_string = data_Disney.select_dtypes(include=['object']).columns.tolist()
for i in campos_string:
    #para cada campo remplazamos su contenido por minusculas
    data_Disney[i]=data_Disney[i].str.lower()

#Dividir la columna "duration" en duration_int y duration_type.
# 
#El primer grupo (\d+) busca coincidencias de uno o más dígitos (0-9) y las captura en el primer grupo.
#El segundo grupo \s*(\w+) busca 
# coincidencias de uno o más caracteres alfanuméricos y las captura en el segundo grupo, 
# permitiendo que haya cero o más espacios en blanco (\s*) entre el primer grupo y el segundo.
#  
data_Disney[['duration_int', 'duration_type']] = data_Disney['duration'].str.extract('(\d+)\s*(\w+)')

#Reemplazar "seasons" por "season":
data_Disney["duration_type"] = data_Disney["duration_type"].str.replace("seasons", "season")

In [21]:
#ver el contenido de data Disney
data_Disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID,duration_int,duration_type
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,ds1,23,min
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,ds2,91,min
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3,23,min
3,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!",ds4,41,min
4,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5,1,season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,movie,x-men origins: wolverine,gavin hood,"hugh jackman, liev schreiber, danny huston, wi...","united states, united kingdom",2021-06-04,2009,pg-13,108 min,"action-adventure, family, science fiction",wolverine unites with legendary x-men to fight...,ds1446,108,min
1446,s1447,movie,night at the museum: battle of the smithsonian,shawn levy,"ben stiller, amy adams, owen wilson, hank azar...","united states, canada",2021-04-02,2009,pg,106 min,"action-adventure, comedy, family",larry daley returns to rescue some old friends...,ds1447,106,min
1447,s1448,movie,eddie the eagle,dexter fletcher,"tom costello, jo hartley, keith allen, dickon ...","united kingdom, germany, united states",2020-12-18,2016,pg-13,107 min,"biographical, comedy, drama","true story of eddie edwards, a british ski-jum...",ds1448,107,min
1448,s1449,movie,bend it like beckham,gurinder chadha,"parminder nagra, keira knightley, jonathan rhy...","united kingdom, germany, united states",2020-09-18,2003,pg-13,112 min,"buddy, comedy, coming of age",despite the wishes of their traditional famili...,ds1449,112,min
1449,s1450,movie,captain sparky vs. the flying saucers,mark waring,charlie tahan,united states,2020-04-01,2012,tv-g,2 min,"action-adventure, animals & nature, animation",view one of sparky's favorite home movies.,ds1450,2,min

# Hulu

In [9]:
# crear columna ID
data_hulu['ID']='h'+data_hulu['show_id']
#reemplazar los valores nulos en rating
data_hulu['rating'] = data_hulu['rating'].replace(np.nan,'G')
#normalizar el formato de las fechas
data_hulu["date_added"] = pd.to_datetime(data_hulu["date_added"], format='%B %d, %Y')

#Colocar los datos strings en minusculas
# Obtener una lista de los campos de tipo string
campos_string = data_hulu.select_dtypes(include=['object']).columns.tolist()
for i in campos_string:
    #para cada campo remplazamos su contenido por minusculas
    data_hulu[i]=data_hulu[i].str.lower()

#Dividir la columna "duration" en duration_int y duration_type.
# 
#El primer grupo (\d+) busca coincidencias de uno o más dígitos (0-9) y las captura en el primer grupo.
#El segundo grupo \s*(\w+) busca 
# coincidencias de uno o más caracteres alfanuméricos y las captura en el segundo grupo, 
# permitiendo que haya cero o más espacios en blanco (\s*) entre el primer grupo y el segundo.
#  
data_hulu[['duration_int', 'duration_type']] = data_hulu['duration'].str.extract('(\d+)\s*(\w+)')

#Reemplazar "seasons" por "season":
data_hulu["duration_type"] = data_hulu["duration_type"].str.replace("seasons", "season")

In [23]:
#ver contenido de data_hulu
data_hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID,duration_int,duration_type
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,NaN
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2,94,min
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3,108,min
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,hs4,97,min
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5,104,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaT,1966,tv-pg,3 seasons,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069,3,season
3069,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaT,1997,tv-pg,7 seasons,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070,7,season
3070,s3071,tv show,the fades,NaN,NaN,united kingdom,NaT,2011,tv-14,1 season,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071,1,season
3071,s3072,tv show,the twilight zone,NaN,NaN,united states,NaT,1959,tv-pg,5 seasons,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072,5,season
3072,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaT,2009,tv-14,1 season,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073,1,season

# Netflix

In [10]:
# crear columna ID
data_netflix['ID']='n'+data_netflix['show_id']
#reemplazar los valores nulos en rating
data_netflix['rating'] = data_netflix['rating'].replace(np.nan,'G')
#normalizar el formato de las fechas
data_netflix['date_added']=data_netflix["date_added"].str.strip()
data_netflix["date_added"] = pd.to_datetime(data_netflix["date_added"], format='%B %d, %Y')

#Colocar los datos strings en minusculas
# Obtener una lista de los campos de tipo string
campos_string = data_netflix.select_dtypes(include=['object']).columns.tolist()
for i in campos_string:
    #para cada campo remplazamos su contenido por minusculas
    data_netflix[i]=data_netflix[i].str.lower()

#Dividir la columna "duration" en duration_int y duration_type.
# 
#El primer grupo (\d+) busca coincidencias de uno o más dígitos (0-9) y las captura en el primer grupo.
#El segundo grupo \s*(\w+) busca 
# coincidencias de uno o más caracteres alfanuméricos y las captura en el segundo grupo, 
# permitiendo que haya cero o más espacios en blanco (\s*) entre el primer grupo y el segundo.
#  
data_netflix[['duration_int', 'duration_type']] = data_netflix['duration'].str.extract('(\d+)\s*(\w+)')

#Reemplazar "seasons" por "season":
data_netflix["duration_type"] = data_netflix["duration_type"].str.replace("seasons", "season")

In [25]:
# ver contenido de data_netflix
data_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID,duration_int,duration_type
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1,90,min
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2,2,season
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3,1,season
3,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4,1,season
4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5,2,season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min
8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,season
8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min

se unifican los data frame para una mejor manipulacion desde la api

In [11]:
#unificar los datos
full_data = pd.concat([data_amazon,data_Disney,data_hulu,data_netflix])
# cambiar los valores nulos de duration_int
full_data['duration_int']= full_data['duration_int'].replace(np.nan,'0')
#cambiar el tipo de dato para duration int
full_data['duration_int']= full_data['duration_int'].astype('int64')
full_data.dtypes

show_id                  object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
duration                 object
listed_in                object
description              object
ID                       object
duration_int              int64
duration_type            object
dtype: object

Columna score

In [11]:
#Este código utiliza la biblioteca glob para encontrar 
# todos los archivos CSV en el directorio 'datasets/ratings'
#  y leerlos en un solo DataFrame. 
score = pd.concat(
    [pd.read_csv(f) for f in glob.glob('datasets/ratings/*.csv')], 
    ignore_index=True)

In [12]:
# Agrupar por 'movieId' y calcular la media de 'score'
score_mean = score.groupby('movieId')['rating'].mean()
# Asignar la media correspondiente a cada fila en 'score'
full_data['score'] = score.groupby('movieId')['rating'].transform(lambda x: score_mean.loc[x.name])
#eliminar valores duplicados
full_data = full_data.drop_duplicates()

In [29]:
#cambiamos las categoricas a numericas
full_data=pd.concat(
    [full_data,pd.get_dummies(full_data['type'])],axis=1)

In [30]:
#eliminar la columna type
full_data = full_data.drop(columns=['type'])
full_data.head(5)

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID,duration_int,duration_type,score,movie,tv show
0,s1,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,3.549127,1,0
1,s2,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,3.556886,1,0
2,s3,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,3.604124,1,0
3,s4,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,3.547085,1,0
4,s5,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,3.532158,1,0

* analisis de sentimiento para la descripcion

In [31]:

full_data['description']= full_data['description'].replace(np.nan,'')

In [32]:

#import numpy as np

sia = SentimentIntensityAnalyzer()
# Aplicar sia.polarity_scores a toda la columna 'description'
sentimiento = full_data['description'].apply(sia.polarity_scores)
# Asignar 'negative', 'positive' o 'neutral' en función del puntaje compuesto
conditions = [    sentimiento.apply(lambda x: round(x['compound'],1)) < 0.0,
    sentimiento.apply(lambda x: round(x['compound'],1)) > 0.0,
    sentimiento.apply(lambda x: round(x['compound'],1)) == 0.0
]
choices = ['negative', 'positive', 'neutral']
full_data['feeling_description'] = np.select(conditions, choices)

In [35]:
full_data = pd.concat([full_data,
                    pd.get_dummies(full_data['feeling_description'],
                                    prefix='description')],axis=1)

* analisis de sentimiento para el titulo

In [38]:
full_data['title']= full_data['title'].replace(np.nan,'')
# Aplicar sia.polarity_scores a toda la columna 'description'
sentimiento = full_data['title'].apply(sia.polarity_scores)
# Asignar 'negative', 'positive' o 'neutral' en función del puntaje compuesto
conditions = [    sentimiento.apply(lambda x: round(x['compound'],1)) < 0.0,
    sentimiento.apply(lambda x: round(x['compound'],1)) > 0.0,
    sentimiento.apply(lambda x: round(x['compound'],1)) == 0.0
]
choices = ['negative', 'positive', 'neutral']
full_data['feeling_title'] = np.select(conditions, choices)
full_data = pd.concat([full_data,
                    pd.get_dummies(full_data['feeling_title'],
                                    prefix='title')],axis=1)

In [39]:
full_data

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,...,movie,tv show,feeling_description,description_negative,description_neutral,description_positive,feeling_title,title_negative,title_neutral,title_positive
0,s1,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",...,1,0,neutral,0,1,0,positive,0,0,1
1,s2,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",...,1,0,negative,1,0,0,positive,0,0,1
2,s3,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",...,1,0,negative,1,0,0,negative,1,0,0
3,s4,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,...,1,0,positive,0,0,1,positive,0,0,1
4,s5,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",...,1,0,negative,1,0,0,neutral,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers",...,1,0,negative,1,0,0,neutral,0,1,0
8803,s8804,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies",...,0,1,negative,1,0,0,negative,1,0,0
8804,s8805,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",...,1,0,negative,1,0,0,neutral,0,1,0
8805,s8806,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies",...,1,0,negative,1,0,0,neutral,0,1,0
8806,s8807,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",...,1,0,negative,1,0,0,neutral,0,1,0

Exportar data

In [14]:
full_data.to_csv('datasets/movies.csv',index=False)